<template>
  <cover-image class="finger" @click="startAuth" src="/static/images/finger.jpg"></cover-image>
</template>

<script>
import { onMounted, reactive } from '@vue/composition-api'
export default {
    setup() {
        const data = reactive({
            auths: []
        })
        function startAuth() {
            console.log('authssss...', data.auths);
            wx.startSoterAuthentication({
                requestAuthModes: data.auths,
                challenge: '123456',
                authContent: data.auths[0] === 'facial' ? '请使用人脸解锁' : '请使用指纹解锁',
                success(res) {
                    wx.setStorageSync('auth', {
                        authTime: + new Date()
                    })
                    wx.navigateTo({ url: "/pages/index/index" });
                }
            })
        }
        onMounted(() => {
            // 获取设备支持的生物识别方式
            wx.checkIsSupportSoterAuthentication({
                complete(res) {
                    console.log('anth....', res);
                    if (res.supportMode && res.supportMode.length) {
                        Promise.all(res.supportMode.map(item => checkIsStore(item))).then(res => {data.auths = res}).catch(err => {wx.showToast({
                            icon: 'fail',
                            title: err.toString()
                        })})
                    } else {
                        // wx.navigateBack();
                    }
                }
            })
        })
        function checkIsStore(mode) {
            return new Promise((resolve, reject) => {
                wx.checkIsSoterEnrolledInDevice({
                    checkAuthMode: 'fingerPrint',
                    complete(res) {
                        if (res.isEnrolled) {
                            resolve(mode)
                        } else {
                            reject();
                        }
                    }
                })
            })
        }
        return {
            data,
            startAuth
        }
    }
}
</script>

<style lang="scss" scoped>
  page{
    overflow-y: hidden;
  }
.finger {
    width: 100vw;
    height: 100vh;
}
</style>
