<template>
  <div class="user">
    <div class="user_tab">
      <ul class="user_tab_head">
        <li
          v-for="(item, index) in types"
          :key="index"
          @click="setActive(index)"
        >
          <span :class="active === index ? 'active' : ''"> {{ item }}</span>
        </li>
      </ul>
      <ul class="user_tab_body_data" v-if="info.list.length > 0">
        <li @click='goDetail(item.id)' v-for="(item, index) in info.list" :key="index">
          <div class="box">
            <div class="tab_head">
              <h2>{{ JSON.parse(item.address).title }}</h2>
              <span
                :class="
                  item.status === -1
                    ? 'ccc'
                    : item.status === 0
                    ? 'blue'
                    : item.status === 1
                    ? 'red'
                    : ''
                "
                >{{
                  item.status === -1
                    ? "未开始"
                    : item.status === 0
                    ? "已打卡"
                    : item.status === 1
                    ? "已放弃"
                    : ""
                }}</span
              >
            </div>
            <div class="tab_body">
              {{ JSON.parse(item.address).address }}
            </div>
            <div class="tab_footer">
              <h3 class="time">
                面试事件: &ensp;&ensp;<span>{{
                  item.start_time | formatTime
                }}</span>
              </h3>
              <p
                :class="
                  item.status === -1
                    ? 'ccc'
                    : item.status === 0
                    ? 'blue'
                    : item.status === 1
                    ? 'red'
                    : ''
                "
              >
                {{ item.remind === -1 ? "未提醒" : "已提醒" }}
              </p>
            </div>
          </div>
        </li>
      </ul>
      <div class="user_tab_body" v-else>当前分类还没有面试</div>
    </div>
  </div>
</template>

<script>
import {
  reactive,
  ref,
  onMounted,
  watch,
  computed,
} from "@vue/composition-api";
export default {
  setup(props, { root }) {
    const { $store } = root;
    const types = ["未开始", "已打卡", "已放弃", "全部"];
    const active = ref(3);
    let payload = reactive({
      page: 1,
      status: -1,
      remind: -1,
      pageSize: 10,
    });
    let info = reactive({
      list: [],
    });
    let userPush = reactive({
      one: [],
      two: [],
      three: [],
    });

    onMounted(() => {});
    async function setActive(index) {
      active.value = index;
    }
    watch(
      [active, payload, userPush],
      async () => {
        if (active.value !== 3) {
          payload.status = active.value - 1;
        }
        await $store.dispatch("user/getSignList", payload);
        let userList = await $store.state.user.userList;
        info.list = userList;
        if (active.value === 3) {
          if(userPush.one.length===0&&userPush.two.length===0&&userPush.three.length===0) {
            await $store.dispatch("user/getSignList", {page:1,status:-1,remind:-1,pageSize:10});
            await $store.dispatch("user/getSignList", {page:1,status:0,remind:-1,pageSize:10});
            await $store.dispatch("user/getSignList", {page:1,status:1,remind:-1,pageSize:10});
          }
          userPush.one= await $store.state.user.one;
          userPush.two= await $store.state.user.two;  
          userPush.three= await $store.state.user.three;  
          console.log(userPush.one,userPush.two,userPush.three);
          info.list = [...userPush.one, ...userPush.two, ...userPush.three]
          wx.setStorageSync('signList',JSON.stringify(info.list))
        }
      },
      { immediate: true }
    );
    function goDetail(id){
      wx.navigateTo({url:'/pages/user/inSign?id='+id})
    }
    return {
      types,
      active,
      setActive,
      info,
      payload,
      goDetail
    };
  },
};
</script>

<style lang="scss" scoped>
.user {
  width: 100%;
  height: 100%;
  .user_tab {
    .user_tab_head {
      display: flex;
      li {
        flex: 1;
        text-align: center;
        line-height: 100rpx;
        span {
          display: inline-block;
          height: 100%;
        }
      }
      span.active {
        color: #197dbf;
        border-bottom: 1px solid #197dbf;
      }
    }
    .user_tab_body_data {
      width: 100%;
      li {
        width: 100%;
        margin: 20rpx 0;
        border-top: 20rpx solid #eee;
        .box {
          width: 95%;
          margin: 0 auto;
        }
        .tab_head {
          display: flex;
          justify-content: space-between;
          
          align-items: center;
          h2 {
            // overflow: hidden;
            font-size: 44rpx;
            margin:20rpx 0 ;
            height: 100%;
          }
          span {
            display: inline-block;
            font-size: 30rpx;
            padding: 6rpx 12rpx;
          }
          .ccc {
            border: 1px solid #ccc;
            color: #aaa;
            // background-color: #eee;
          }
          .red {
            background: #fef0f0;
            color: red;
            // border: 1px solid red;
          }
          .blue {
            background: #ecf5ff;
            color: #52a7ff;
            // border: 1px solid #52a7ff;
          }
        }
        .tab_body {
          font-size: 28rpx;
          line-height: 40rpx;
          color: #aaa;
        }
        .tab_footer {
          display: flex;
          color: rgb(31, 27, 27);
          justify-content: space-between;
          height: 70rpx;
          align-items: center;
          .time {
            font-size: 36rpx;
            span {
              display: inline-block;
              font-size: 32rpx;
            }
          }
          p {
            display: inline-block;
            font-size: 34rpx;
            padding: 6rpx 12rpx;
          }
          .ccc {
            background: #fef0f0;
            color: red;
            // border: 1px solid red;
          }
          .red {
            border: 1px solid #ccc;
            color: #aaa;
            // background-color: #eee;
          }
          .blue {
            background: #ecf5ff;
            color: #52a7ff;
            // border: 1px solid #52a7ff;
          }
        }
      }
    }
    .user_tab_body {
      width: 100%;
      height: 200rpx;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 32rpx;
      color: #ccc;
    }
  }
}
</style>