<template>
  <div class="user">
    <header class="user_top">
      <div class="user_top_avatar">
        <image src="/static/images/my.png" lazy-load="false"></image>
      </div>
      <p>{{ phone }}</p>
    </header>
    <ul>
      <li @click="goTabDetail">
        <icon type="waiting" size="18px" />
        <span> 我的面试 </span>
        <image src="/static/images/arrow.svg"></image>
      </li>
      <button open-type="contact" class="concat">
        <icon type="info" size="18px" />
        <span>客服中心</span>
        <image src="/static/images/arrow.svg"></image>
      </button>
      <li @click="goPay">
        <icon type="success" size="18px" />
        <span> 支持项目 </span>
        <image src="/static/images/arrow.svg"></image>
      </li>
    </ul>
    <div class="phone" v-if="showPhoneDialog" @click="hideMask" data-id="1">
      <p>为了更好的使用我们的服务，我们需要获取你的手机号码</p>
      <button open-type="getPhoneNumber" @getphonenumber="getPhoneNumber">
        同意
      </button>
    </div>
  </div>
</template>

<script>
import { onMounted, ref, reactive } from "@vue/composition-api";
import { mapState, mapActions } from "vuex";
export default {
  setup(props, { root }) {
    const { $store, $mp } = root;
      let phone = ref("");

      let phones = $store.state.user.userInfo.phone;
      console.log(phones);
      if(phones!==undefined) {
        phone.value=phones.slice(0, 3) + "****" + phones.slice(7, 11);
      }else{
        phone.value='***********';
      }
      function goTabDetail(){
        wx.navigateTo({ url: "/pages/user/detail"})
      }
      function goPay(){
        wx.navigateTo({url:'/pages/pay/index'});
      }
    return {
      phone,
      goTabDetail,
      goPay
    };
  },
};
</script>

<style lang="scss" scoped>
.user_top {
  background: #f4f6f9;
  width: 100%;
  height: 350rpx;
  box-sizing: border-box;
  padding: 50rpx 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  .user_top_avatar {
    width: 100rpx;
    height: 100rpx;
    background: #fff;
    text-align: center;
    padding: 20rpx;
    border-radius: 50%;
  }
  image {
    width: 90%;
    height: 90%;
  }
}
.phone {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  p {
    border-top-left-radius: 20rpx;
    border-top-right-radius: 20rpx;
    width: 70%;
    background: #fff;
    padding: 20rpx 15rpx;
    line-height: 1.5;
    font-size: 34rpx;
    box-sizing: border-box;
  }
  button {
    width: 70%;
    background: #197dbf;
    color: #fff;
    border-bottom-left-radius: 20rpx;
    border-bottom-right-radius: 20rpx;
  }
}
li,
button.concat {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 30rpx 40rpx;
  border-bottom: 1rpx solid #eee;
  background-color: #fff;
  span:nth-child(2) {
    flex: 1;
    margin-left: 40rpx;
    color: #666;
    font-size: 36rpx;
    background: transparent;
    text-align: left;
  }
  image {
    width: 40rpx;
    height: 40rpx;
  }
}
</style>