<template>
  <div class="wrap">
    <div class="infoWrap">
      <span>面试地址:</span>
      <p class="special_color" @click="goToPath">{{ address.address }}</p>
    </div>
    <div class="infoWrap">
      <span>面试时间:</span>
      <p>{{ item.create_time | formatTime }}</p>
    </div>
    <div class="infoWrap">
      <span>联系方式:</span>
      <p class="special_color">{{item.phone}}</p>
    </div>
    <div class="infoWrap">
      <span>是否提醒:</span>
      <p> {{ item.remind === -1 ? "未提醒" : "已提醒" }}</p>
    </div>
    <div class="infoWrap">
      <span>面试状态:</span>
      <p class="">{{
                  item.status === -1
                    ? "未开始"
                    : item.status === 0
                    ? "已打卡"
                    : item.status === 1
                    ? "已放弃"
                    : ""
                }}</p>
    </div>
  </div>
</template>

<script>
import { computed, onMounted, reactive, ref } from "@vue/composition-api";
import { getSignDetail } from "@/services";
export default {
  setup(props, { root }) {
    const { $mp, $store } = root;
    const item = ref({});
    const address = ref({});
    const info = reactive({});
    onMounted(() => {
      //执行初始化函数
      init();
    });
    //初始化函数 获取到路与参数 和面试详情
    async function init() {
      let id = $mp.query.id;
      //通过id发起请求获取面试详情
      let data = await getSignDetail(id);
      item.value = data.data;
      address.value = JSON.parse(item.value.address);
    }
    wx.setNavigationBarTitle({
      title: "起飞了",
    });
    function goToPath(){
      console.log(item.value.id);
        wx.navigateTo({url:'/pages/sign/detail?id='+item.value.id})
    }
    return {
      info,
      item,
      address,
      goToPath
    };
  },
};
</script>

<style scoped lang='scss'>
.wrap {
  width: 100vw;
  height: 100vh;
}
.infoWrap {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
  font-size: 17px;
}
.infoWrap span {
  display: inline-block;
  padding: 0 10px;
  color: rgb(102, 102, 102);
}
.infoWrap p {
  flex: 1;
  display: flex;
}
.special_color {
  color: rgb(7, 193, 96);
}
</style>