<template>
  <div>
    <map
      id="map" 
      show-location
      show-compass
      :longitude="location.longitude"
      :latitude="location.latitude"
      :markers="markers"
      :include-points="includePoints"
      :circles="circles"
    ></map>
      <cover-image class="location" @click="backme" src="/static/images/location.png" />
      <cover-image class="my" @click="goUser" src="/static/images/my.png"
    />
      <button class="add" @click="goAddSign">添加面试</button>
  </div>
</template>

<script>
import { reactive, onMounted, toRefs, ref } from "@vue/composition-api";
export default {
  setup() {
    let location = reactive({
      longitude: 0,
      latitude: 0,
    });
 
    onMounted(() => {
      wx.getLocation({
        type: "wgs84",
        success(res) {
          location.longitude = res.longitude;
          location.latitude = res.latitude;
        },
      });
    });

    // 去个人中心
    function goUser() {
      wx.navigateTo({ url: "/pages/user/index" });
    }

    // 去添加面试
    function goAddSign() {
      wx.navigateTo({ url: "/pages/sign/addSign" });
    }
    function backme() {
      let mapCtx = wx.createMapContext('map'); // wxml 中map标签的id值
      mapCtx.moveToLocation();
    }
    return {
      location,
      goUser,
      goAddSign,
      backme
    };
  },
};
</script>

<style lang="scss" scoped>
div {
  position: relative;
}
map {
  width: 100vw;
  height: 100vh;
}
.location {
  position: fixed;
  bottom: 160rpx;
  width: 80rpx;
  height: 80rpx;
  left: 20rpx;
}
.add {
  position: fixed;
  width: 100%;
  height: 100rpx;
  background: #000;
  color: #fff;
  font-weight: 500;
  bottom: 0;
  left: 0;
  font-size: 40rpx;
}
.my {
  position: fixed;
  display: inline-block;
  bottom: 150rpx;
  right: 20rpx;
  width: 80rpx;
  height: 80rpx;
  margin-top: 10rpx;
  margin-left: 10rpx;
  background: #000;
  border-radius: 50%;
}
.addsign{
    width: 100%;
}
</style>