<template>
    <div class="pay_wrap">
            <p class="title">支持开源项目是一种优秀的习惯</p>
            <view class="section section_gap">
            <text class="section__title">付费金额（单位元）:</text>
            <view class="body-view">
                <slider 
                    @change="slider4change" 
                    min="50" 
                    max="200" 
                    v-model="money"
                    show-value
                />
            </view>
        </view>
        <button type="primary" @click="payMoney">确认捐赠</button>
    </div>
</template>

<script>
import {reactive,ref,watch,computed,onMounted} from '@vue/composition-api';
import {pay} from '@/services';
export default {
    setup(){
        const money = ref(10);
        function slider4change(e){
            money.value = e.detail.value;
        }
        //点击按钮进行支付
        async function payMoney(){
            let res = await pay(money.value);
            if(res.code===0){
                let {timeStamp, nonceStr, paySign} = res.data;
                wx.requestPayment({
                    timeStamp,
                    nonceStr,
                    package: res.data.package,
                    signType: 'MD5',
                    paySign,
                    complete:(res)=>{ 
                        console.log('res.......',res);
                    },
                })
            }
        }
        return{
            money,
            slider4change,
            payMoney
        }
    }
}
</script>

<style scoped lang='scss'>
    .pay_wrap{
        width: 100vw;
        height: 100vh;
    }
    .title{
        padding: 30px;
        font-size: 22px;
    }
    .body-view{
        padding: 0 10px;
    }
</style>