<template>
	<div class="wrap">
		<form @submit="submit">
		<p>面试信息</p>
		<ul>
		<li>
			<lable for="">公司名称</lable>
			<input type="text" v-model="current.company" placeholder="请输入公司名称" focus>
		</li>
		<li>
			<lable for="">公司电话</lable>
			<input type="number" v-model="current.phone" placeholder="请输入面试联系人电话" maxlength="11">
		</li>
		<li>
			<lable for="">面试时间</lable>
			<picker
			mode="multiSelector"
			:range="dateRange"
			:value="info.date"
			@change="dateChange"
			@columnchange="columnChange"
			><view class="date">{{dateShow}}</view>
			</picker>
			<icon
			@click="showTimeTip"
			class="tip"
			type="warn"
			color="#197DBF"
			size="24">
			</icon>
		</li>
		<li>
			<lable for="">面试地址</lable>
			<input @tap="goSearch" type="text" disabled v-model="current.address.address" placeholder="请选择面试地址">
		</li>
		</ul>
		<p>备注信息</p>
		<textarea type="text" v-model="current.description" placeholder="备注信息(可选，100个字以内)"/>
		<button :class="btnEnable?'': 'disable'" form-type="submit">确认</button>
	</form>
</div>
</template>

<script>
import {reactive, onMounted, toRefs,ref,conputed, computed} from '@vue/composition-api';
import {addSign} from '@/services'
const moment = require('moment');
const range = [
  [0,1,2,3,4,5,6,7,8,9],
  [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23],
  ['00分','10分','20分','30分','40分','50分']
];
export default {
	setup(props,{root}){
		const {$store,$mp} = root;
		const submiting = ref(false);
		const info = reactive({
			date: [0,0,0],
		})
		const current = reactive({
			address:$store.state.sign.address,
			description:"",
			phone:'',
			company:'',
			form_id:'',
			start_time:'',
		})
		current.address = computed(()=>{
			return $store.state.sign.address;
		})
		onMounted(()=>{
			if (moment().hour() == 23){
				info.date = [1,0,0];
			}
		})
		 // 按钮是否可点击
		const btnEnable = computed(()=>{
			// 判断公司名称是否为空
			if (!current.company){
				return false;
			}
			// 判断手机号是否符合规范
			if (!/^1(3|4|5|7|8)\d{9}$/.test(current.phone) || !/^(\(\d{3,4}\)|\d{3,4}-|\s)?\d{7,14}$/.test(current.phone)){
				return false;
			}
			// 判断公司地址
			if (!current.address.address){
				return false;
			}
			return true;
		})
		// 处理面试日期
		const dateRange = computed(()=>{
			let dateRange = [...range];
			// 如果时间是今天，过滤掉现在之前的小时
			if (info.date[0]){
				dateRange[1] = dateRange[1].filter(item=>{
				return item>moment().hour();
				})
			}else{
				dateRange[1] = range[1]
			}
			// 格式化小时
			dateRange[1] = dateRange[1].map(item=>{
				return item+'点'
			})
			// 计算当前日期之后的十天
			dateRange[0] = dateRange[0].map(item=>{
				return moment().add(item, 'days').date()+'号'
			})
			return dateRange;
		})
		//显示的日期
		const dateShow = computed(()=>{
			return moment()
			.add(moment().hour()==23?info.date[0]-1:info.date[0], 'd')
			.add(info.date[1]+1, 'h')
			.minute(info.date[2]*10)
			.format('YYYY-MM-DD HH:mm:ss');
		})
		async function submit(e){
			// 判断公司名称是否为空
			if (!current.company){
				wx.showToast({
				title: '请输入公司名称', //提示的内容,
				icon: 'none', //图标,
				});
				return false;
			}
			// 判断手机号是否符合规范
			if (!/^1(3|4|5|7|8)\d{9}$/.test(current.phone) || !/^(\(\d{3,4}\)|\d{3,4}-|\s)?\d{7,14}$/.test(current.phone)){
				wx.showToast({
				title: '请输入面试联系人的手机或座机', //提示的内容,
				icon: 'none', //图标,
				});
				return false;
			}
			// 判断公司地址
			if (!current.address.address){
				wx.showToast({
				title: '请选择公司地址', //提示的内容,
				icon: 'none', //图标,
				});
				return false;
			}
			 // 添加时间戳到表单
			current.start_time = moment(dateShow).unix()*1000;
			// 添加form_id
			current.form_id = e.target.id;
			submiting.value = true;
			let data = await addSign(current);
			submiting.value = false;
			if (data.code == 0){
				wx.showModal({
				title: '温馨提示', //提示的标题,
				content: data.msg, //提示的内容,
				showCancel: false,
				confirmText: '确定', //确定按钮的文字，默认为取消，最多 4 个字符,
				confirmColor: '#197DBF', //确定按钮的文字颜色,
					success: res => {
						if (res.confirm) {
							$store.dispatch('sign/getAddressInfo',{});
							current.description='';
							current.phone='';
							current.company='';
							current.form_id='';
							current.start_time='';
						wx.navigateTo({ url: '/pages/user/detail' });
						}
					}
				});
			}else{
				wx.showToast({
				title: data.msg, //提示的内容,
				icon: 'fail'//图标,
				});
			}
		}
		// 监听多列选择器每列变化
		function columnChange(e){
			let {column, value} = e.target;
			let date = [...info.date];
			date[column] = value;
			info.date = date;
		}
		function showTimeTip(){
			wx.showToast({
				title: '在面试前一个小时我们会通知你哦', //提示的内容,
				icon: 'none', //图标,
        	});
		}
		function dateChange(){

		}
		//跳转到搜索页面 实现搜索地址
		function goSearch(){
			wx.navigateTo({url:'/pages/sign/search'});
		}
		return {
			info,
			current,
			submit,
			dateChange,
			columnChange,
			showTimeTip,
			goSearch,
			btnEnable,
			dateRange,
			dateShow,
		}	
	}
};
</script>

<style scoped lang='scss'>
.wrap{
  height: 100%;
}
p {
  font-size: 34rpx;
  padding: 15rpx 0 15rpx 30rpx;
  background: #f6f6f6;
}
ul {
  border-top: 1rpx solid #eee;
  border-bottom: 1rpx solid #eee;
  background: #fff;
}
li {
  width: 720rpx;
  height: 88rpx;
  margin-left: 30rpx;
  border-bottom: 1rpx solid #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  lable {
    color: #666;
    width: 170rpx;
    font-size: 30rpx;
  }
  input,
  picker {
    flex: 1;
    font-size: 30rpx;
    // background: #eee;
    color: #333;
    height: 88rpx;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 30rpx;
    box-sizing: border-box;
  }
  .date {
    width: 100%;
    line-height: 88rpx;
  }
}
li:last-child {
  border: none;
}
.tip {
  margin-right: 30rpx;
}
textarea {
  font-size: 30rpx;
  // background: #eee;
  color: #333;
  width: 690rpx;
  height: 200rpx;
  margin: 30rpx;
  box-sizing: border-box;
  padding: 10rpx;
  border: 1rpx solid #c0c0c0;
  border-radius: 5rpx;
}
button {
  margin-top: 50rpx;
  color: #fff;
  background: #197dbf;
}
button.disable {
  background: #999;
}
</style>